.menu-list li {
    border-bottom: 2px solid #616161;
    /* Bootstrap primary color, you can change it */
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  
  /* Style to remove default list styling */
  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style for the links */
  .menu-list .siderbar-link {
    text-decoration: none;
    color: #6a6a6a !important;
    font-weight: bold;
  
  }
  .menu-list .siderbar-link:hover{
    color: black !important;
  }
  .siderbar-link.active{
    color: black !important;
  }