.menu .card-body{
    padding: 0px;
    overflow: hidden;

}
.menu .card-body img{
    height: 100%;
    width: 100%;
    transition: transform .5s ease;
}
.menu .card-body img:hover{
    transform: scale(1.2);
}